html, body{
  margin: 0;
  height: 100%;
  position: relative;
  animation: loading_color 4.5s linear;
}

@keyframes loading_color{
  0% {
    background: #C433FF;
  }
  50% {
    background: #33C1FF;
  }
  100% {
    background: #FFFFFF;
  }
}

h1{
	align: center;
}


#wrap{
  width: 200px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
}

#border{
  border: 3px solid #222;
  height: 100%;
  width: 100%;
  position: relative;
  left: -50%;
  top: -50%;
  padding: 4px 3px;
}

#white{
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#line{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  -webkit-animation: slide 3s steps(80) infinite;
  -moz-animation: slide 3s steps(80) infinite;
  animation: slide 3s steps(80) infinite;
}

@keyframes slide{
  0%{
    left: -100%;
	opacity:0;
  }
  
  100%{
    left: 100%;
	opacity:1;
  }
}

@-moz-keyframes slide{
  0%{
    left: -100%;
	opacity:0;
  }
  
  100%{
    left: 100%;
	opacity:1;
  }
}

@-webkit-keyframes slide{
  0%{
    left: -100%;
	opacity:0;
  }
  
  100%{
    left: 100%;
	opacity:1;
  }
}
  
#myDiv{
  display: none;
  text-align: center;
}

.fadeout {
	opacity: 0;
	-webkit-animation: fadeout 5s;
	-moz-animation: fadeout 5s;
	animation: fadeout 5s;
}

@keyframes fadeout{
	0%{opacity:1;}
	66%{opacity:1;}
	100%{opacity:0;}
}

.main_bg{
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave{
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three{
  animation: drift 5000ms infinite linear;
}

.wave.-two{
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.main_bg:after{
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


