html, body{
  margin: 0;
  height: 100%;
  position: relative;
  animation: loading_color 4.5s linear;
  background-color: white;
}

body{
	background-image: linear-gradient(to top, #33C1FF 20%, #C433FF 80%);
	background-position: fixed;
	-webkit-animation:fadein 4.6s linear;
	-moz-animation:fadein 4.6s linear;
	animation:fadein 4.6s linear;
}

@keyframes loading_color{
  0% {
    background: #C433FF;
  }
  50% {
    background: #33C1FF;
  }
  100% {
    background: #C433FF;
  }
}

h1{
	align: center;
}

h2{
	align: center;
	opacity: 1;
	text-align: justify;
	font-weight: 900;
}


#wrap{
  width: 200px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
}

#border{
  border: 3px solid #222;
  height: 100%;
  width: 100%;
  position: relative;
  left: -50%;
  top: -50%;
  padding: 4px 3px;
}

#white{
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#line{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  -webkit-animation: slide 3s steps(80) infinite;
  -moz-animation: slide 3s steps(80) infinite;
  animation: slide 3s steps(80) infinite;
}

@keyframes slide{
  0%{
    left: -100%;
	opacity:0;
  }
  
  100%{
    left: 100%;
	opacity:1;
  }
}

@-moz-keyframes slide{
  0%{
    left: -100%;
	opacity:0;
  }
  
  100%{
    left: 100%;
	opacity:1;
  }
}

@-webkit-keyframes slide{
  0%{
    left: -100%;
	opacity:0;
  }
  
  100%{
    left: 100%;
	opacity:1;
  }
}
  
#myDiv{
  display: none;
  text-align: center;
}

.disappear{
	opacity: 0;
	-webkit-animation: fadeout 5s;
	-moz-animation: fadeout 5s;
	animation: fadeout 5s;
	
}

@keyframes fadeout{
	0%{opacity:1;}
	66%{opacity:1;}
	100%{opacity:0;}
}

.reappear{
	-webkit-animation: fadein 3s;
	-moz-animation: fadein 3s;
	animation: fadein 3s;
}

@keyframes fadein{
	0%{opacity:0;}
	10%{opacity:.1;}
	20%{opacity:.2;}
	30%{opacity:.3;}
	40%{opacity:.4;}
	50%{opacity:.5;}
	60%{opacity:.6;}
	70%{opacity:.7;}
	80%{opacity:.8;}
	90%{opacity:.9;}
	100%{opacity:1;}	
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}







