html, body{
  margin: 0;
  height: 100%;
  position: relative;
  animation: loading_color 4.5s linear;
  background-color: white;
  z-index: 1;
  
 }

body{
	background-position: fixed;
	-webkit-animation:fadein 4.6s linear;
	-moz-animation:fadein 4.6s linear;
	animation:fadein 4.6s linear;
	font-size: 55px;  
	background: -webkit-linear-gradient(to top, #c33764, #1d2671); 
    background: linear-gradient(to top, #c33764, #1d2671);
	background: -moz-linear-gradient(to top, #c33764, #1d2671);   
}


@keyframes loading_color{
  0% {
    background: #1d2671;
  }
  50% {
    background: #a55d8d;
  }
  100% {
    background: #c33764;
  }
}


h2{
	position: absolute;
	opacity: 1;
	font-weight: 900;
	font-family:'Avenir Next',Ubuntu,sans-serif;
}

h3{
	position: absolute;
	opacity: 1;
	font-weight: 900;
	font-family:'Avenir Next',Ubuntu,sans-serif;
	margin-top: 40px;
}

h4{
	margin: -250px 0 10px 5px;
}

h5{
	opacity: 1;
	text-align: center;
	font-family:'Avenir Next',Ubuntu,sans-serif;
	margin: 460px 0 0 0;
	overflow-x: auto;
	background: #FFFFFF;
	position: relative;
}
h6{
	opacity: 1;
	text-align: center;
	font-family:'Avenir Next',Ubuntu,sans-serif;
	overflow-x: auto;
	background: #FFFFFF;
	position: relative;
	font-size: 20px;
	margin: -15px 400px 40px 400px;
}

h7{
	
}

.link1{
	margin: 25px 0 0 0;	
	font-family: Helvetica, 'Avenir Next', Ubuntu,sans-serif;
	font-size: 24px;
	color: white;	
	text-align: left;
	display: inline;
}

.link2{
	margin: 20px 0 0 85px;
	font-family: Helvetica, 'Avenir Next', Ubuntu,sans-serif;
	font-size: 24px;
	color: white;	
	text-align: left;
	display: inline;
}

.link3{
	margin: 20px 0 0 85px;
	font-family: Helvetica, 'Avenir Next', Ubuntu,sans-serif;
	font-size: 24px;
	color: white;	
	text-align: left;
	display: inline;
}

.container{
	width: 50%;
	height: 50%;
	margin: 0px 450px 0px 450px;
}

.yo{
  position: absolute;
  left: -2rem;
  top: 15rem;
  right: -2.0rem;
  margin: -120px 0 0 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: #1589FF;
  text-align: center;
}

.man{
  position: absolute;
  left: -2rem;
  top: 15rem;
  right: -2.0rem;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
  font-size:.5em;
  text-align: center;
}


@keyframes topFadeOut {
  from {
    position: absolute;
    top: 10rem;
    opacity: 0;
  }

  to {
    position: absolute;
    top: 15rem;
    opacity: 1;
  }
}

#wrap{
  width: 200px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
}

#border{
  border: 3px solid #222;
  height: 100%;
  width: 100%;
  position: relative;
  left: -50%;
  top: -50%;
  padding: 4px 3px;
}

#white{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#line{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  -webkit-animation: slide 3s steps(80) infinite;
  -moz-animation: slide 3s steps(80) infinite;
  animation: slide 3s steps(80) infinite;
}

@keyframes slide{
  0%{
    left: -100%;
	opacity:0;
  }
  
  100%{
    left: 100%;
	opacity:1;
  }
}

@-moz-keyframes slide{
  0%{
    left: -100%;
	opacity:0;
  }
  
  100%{
    left: 100%;
	opacity:1;
  }
}

@-webkit-keyframes slide{
  0%{
    left: -100%;
	opacity:0;
  }
  
  100%{
    left: 100%;
	opacity:1;
  }
}
  
#myDiv{
  text-align: center;
  display: block;
}

.disappear{
	opacity: 0;
	-webkit-animation: fadeout 5s;
	-moz-animation: fadeout 5s;
	animation: fadeout 5s;
	
}

@keyframes fadeout{
	0%{opacity:1;}
	66%{opacity:1;}
	100%{opacity:0;}
}

.reappear, .link1, .link2, .link3{
	-webkit-animation: fadein 3s;
	-moz-animation: fadein 3s;
	animation: fadein 3s;

}

.reappear2{
	animation-delay: 3s;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	animation: fadein 2s;
}

@keyframes fadein{
	0%{opacity:0;}
	10%{opacity:.1;}
	20%{opacity:.2;}
	30%{opacity:.3;}
	40%{opacity:.4;}
	50%{opacity:.5;}
	60%{opacity:.6;}
	70%{opacity:.7;}
	80%{opacity:.8;}
	90%{opacity:.9;}
	100%{opacity:1;}	
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.bgTop {
    z-index: 2;
}
.bgMiddle {
    z-index: 10;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
	margin: -270px 0 0 0;
}
.waveAnimation .waveTop {
	animation: move_wave 12s linear infinite;
	-webkit-animation: move_wave 12s linear infinite;
}
.waveMiddle {
    background-size: 50% 120px;
	margin: -270px 0 0 0;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
	-webkit-animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 150px;
	margin: -270px 0 0 0;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
	-webkit-animation: move_wave 10s linear infinite;
	-moz-animation: move_wave 10s linear infinite;
}


.sun {
  background-color: rgba(255, 255, 51, 1);
  opacity: 0.3;
  border-radius: 100000px;
  position: absolute;
  top: calc(75% - 25px);
  left: calc(43% - 35px);
  width: 350px;
  height: 350px;
  animation: pulse 10s ease-in infinite;
  -webkit-animation: pulse 10s ease-in infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px #FFCC00;
  }
  
  25% {
    box-shadow: 0px 0px 100px #FF4D00;
  }
}


#stars {
    position: relative;
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
}

#stars div {
    width: 100%;
    height: 100%;
    position: absolute;
	top: -45px;
	z-index: -1;
}

#stars .large {
    background: url('///C:/Users/Kevsan/Desktop/professionalwebsite/stars_large.png');
}

#stars .medium {
    background: url('///C:/Users/Kevsan/Desktop/professionalwebsite/stars_medium.png');
}

#stars .small {
    background: url('///C:/Users/Kevsan/Desktop/professionalwebsite/stars_small.png');
}

::-webkit-scrollbar {
display: none;
}


.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}



